@font-face {
    font-family: 'COCOMAT-UltraLight';
    src:url('COCOMAT-UltraLight.ttf.woff') format('woff'),
    url('COCOMAT-UltraLight.ttf.svg#COCOMAT-UltraLight') format('svg'),
    url('COCOMAT-UltraLight.ttf.eot'),
    url('COCOMAT-UltraLight.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
h1{
    text-align: center;
    font-size:  185px;
    font-weight: lighter;
    font-family: "COCOMAT-UltraLight";
    text-transform: lowercase;
    color:  #ead7d7;
    margin: 0 auto;

}
.body{
    margin: 0px 150px 150px 150px;
    width: 1100px;
    background: #ffffff;
    box-shadow: 0 0 0 1px rgb(194, 192, 184) inset,
    0 5px 3px -4px rgba(0, 0, 0, .2),
    0 10px 0 -4px rgb(255, 255, 255),
    0 10px 0 -3px rgb(194, 192, 184),
    0 15px 3px -14px rgba(0, 0, 0, .2),
    0 21px 0 -8px rgb(255, 255, 255),
    0 21px 0 -7px rgb(194, 192, 184),
    0 32px 0 -12px rgb(255, 255, 255),
    0 32px 0 -11px rgb(194, 192, 184);
}
.input_section{
    font-style: italic;
    color: #e6e6e6;
    margin: 0 auto;
    width:  978px;
    height:  65px;
    box-shadow: 0 0 0px 1px rgb(194, 192, 184) inset,
    0 -2px 2px 1px rgb(194, 192, 184) ;
    font-weight: 100;
    font-size:  45px;
    padding: 35px 0 30px 120px;
    font-family: Verdana;
}
.main {

    width: 1400px;
    background: #f5f5f5;
    margin:  0 auto;
    border: solid black 1px;
}
ul {
    margin:  0 auto;
    list-style-type: none;
    padding: 0;
}
li {

    box-shadow: 0 0 0px 1px rgb(194, 192, 184) inset,
    0 -2px 2px 1px rgb(194, 192, 184) ;
    width:  1100px;
    height:  130px;

}
label{
    color: #4d4d4d;
    font-size:  45px;
    font-family: Verdana;
}
.label{
    width:  900px;
    padding: 35px 0 30px 30px;

}

/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    margin: 0 0 0 20px;
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 62px;             /* Обязательно задаем ширину */
    height: 62px;            /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 31px;
}

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */

.checkbox-custom,
.label {

    display: inline-block;
    vertical-align: middle;


}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */

    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background: url("im/check4.png") no-repeat;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}
input[type="checkbox"]:checked ~  label {
    font-size:  70px;
}

.menu{
    width: 100%;
    height: 50px;
    padding: 14px 0 16px 0;
    color: #939393;
    font-size:  25px;
    font-family: Verdana;
    font-weight: lighter;

}

.count{
    height: 42px;
    padding: 8px 13px 0 13px;
    vertical-align: middle;
    margin: 0 0 0 30px;
    float: left;

}

.batton_activ{
    height: 42px;
    padding: 8px 13px 0 13px;
    border: 2px solid;
    border-color: #efd4d4;
    border-radius: 6px;
    float: right;
    vertical-align: middle;
    margin: 0 14px 0 14px;
}

.batton{
    height: 42px;
    padding: 8px 13px 0 13px;
    border: 2px solid;
   /* border-color: #ffffff;*/
    border-radius: 6px;
    float: right;
    vertical-align: middle;
    margin: 0 14px 0 14px;
}
.batton .activ{
    border-color: #efd4d4;
}

.batton_clear{
    height: 42px;
    padding: 8px 13px 0 13px;
    vertical-align: middle;
    margin: 0 14px 0 110px;
    float: right;
}